.nav {
    background-color: orangered;

    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 30px;
    }
}

/* We can use this global() with test class then it will be accesible globally even if it is in module.css */
.nav :global(.active) {
    background-color: green;
    padding: 10px
}